




.an_clock {
    height: 290px;
    width: 290px;
    margin:0 auto;
    background-image: url(./img/clock.png);
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}
.an_clock::before{
    height: 10px;
    position: absolute;
    width: 10px;
    content: '';
    background: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.hour {
    height: 167px;
    width: 0;
    position: relative;
    display: flex;
    justify-content: center;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.hour::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 104px;
    background: url(./img/hour-ha.png);
    background-size: cover;
}
.min {
    height: 167px;
    width: 0;
    position: relative;
    transform: rotate(30deg);
    display: flex;
    justify-content: center;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.min::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 104px;
    background: url(./img/min.png);
    background-size: cover;
}
.sec {
    height: 177px;
    width: 0;
    position: relative;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.sec::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 97px;
    background: url(./img/se-hands.png);
    background-size: cover;
}







/* Clock  */

.clock {
    width: 290px;
    height: 290px;
    margin: 0 auto 0;
    background-image: url(./img/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #122;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.s {
    height: 193px;
    width: 0;
    position: relative;
    display: flex;
    justify-content: center;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.s::before {
    height: 124px;
    width: 6px;
    position: absolute;
    background: #222;
    border-radius: 28%;
    content: "";
}
.m {
    height: 170px;
    width: 0;
    position: relative;
    display: flex;
    justify-content: center;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.m::before {
    height: 100px;
    width: 6px;
    position: absolute;
    background: #222;
    border-radius: 28%;
    content: "";
}
.h {
    height: 151px;
    width: 0;
    position: relative;
    display: flex;
    justify-content: center;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.h::before {
    height: 98px;
    width: 7px;
    position: absolute;
    background: #222;
    border-radius: 47%;
    content: "";
}

/* Calculator  */

.cal {
    background: #555;
    width: 285px;
    border-radius: 20px;
    padding: 12px;
    box-shadow: inset 5px 5px 20px rgb(87, 85, 85),
        inset -5px -5px 20px rgb(56, 54, 54);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.display {
    margin-top: 15px;
    text-align: end;
    height: 80px;
}

.display-top {
    color: #fff;
    font-size: 16px;
}

.display-bottom {
    font-size: 44px;
    color: #fff;
    font-weight: 600;
    font-family: "Roboto";
}

.buttons button {
    margin: 5px;
    border: unset;
    height: 40px;
    margin: 13px 8px;
    width: 45px;
    color: #fff;
    border-radius: 45%;
    background-color: #555;
    box-shadow: inset -3px -3px 5px rgb(71 69 69),
        inset 3px 3px 5px rgb(223 222 222 / 17%);
}
.buttons button:active {
    transform: scale(0.9);
}

.buttons {
    margin-top: 19px;
    position: relative;
}
button.plus_btn {
    position: absolute;
    height: 61px;
    border-radius: 23%;
    right: 4px;
    bottom: -8px;
    background: #666;
}
button.allclear {
    background: #bb647c;
}

.form label {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}
